link(rel='stylesheet', href='/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='/gentelella/vendors/font-awesome/css/font-awesome.min.css')
link(rel='stylesheet', href='/gentelella/vendors/nprogress/nprogress.css')
link(rel='stylesheet', href='/gentelella/vendors/iCheck/skins/flat/green.css')
link(rel='stylesheet', href='/gentelella/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css')
link(rel='stylesheet', href='/gentelella/vendors/jqvmap/dist/jqvmap.min.css')
link(rel='stylesheet', href='/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.css')
link(rel='stylesheet', href='/gentelella/build/css/custom.min.css')