script(type='text/javascript', src='/gentelella/vendors/jquery/dist/jquery.min.js')
script(type='text/javascript', src='/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js')
script(type='text/javascript', src='/gentelella/vendors/fastclick/lib/fastclick.js')
script(type='text/javascript', src='/gentelella/vendors/nprogress/nprogress.js')
script(type='text/javascript', src='/gentelella/vendors/Chart.js/dist/Chart.min.js')
script(type='text/javascript', src='/gentelella/vendors/gauge.js/dist/gauge.min.js')
script(type='text/javascript', src='/gentelella/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js')
script(type='text/javascript', src='/gentelella/vendors/iCheck/icheck.min.js')
script(type='text/javascript', src='/gentelella/vendors/skycons/skycons.js')
script(type='text/javascript', src='/gentelella/vendors/Flot/jquery.flot.js')
script(type='text/javascript', src='/gentelella/vendors/Flot/jquery.flot.pie.js')
script(type='text/javascript', src='/gentelella/vendors/Flot/jquery.flot.time.js')
script(type='text/javascript', src='/gentelella/vendors/Flot/jquery.flot.stack.js')
script(type='text/javascript', src='/gentelella/vendors/Flot/jquery.flot.resize.js')
script(type='text/javascript', src='/gentelella/vendors/flot.orderbars/js/jquery.flot.orderBars.js')
script(type='text/javascript', src='/gentelella/vendors/flot-spline/js/jquery.flot.spline.min.js')
script(type='text/javascript', src='/gentelella/vendors/flot.curvedlines/curvedLines.js')
script(type='text/javascript', src='/gentelella/vendors/DateJS/build/date.js')
script(type='text/javascript', src='/gentelella/vendors/jqvmap/dist/jquery.vmap.js')
script(type='text/javascript', src='/gentelella/vendors/jqvmap/dist/maps/jquery.vmap.world.js')
script(type='text/javascript', src='/gentelella/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js')
script(type='text/javascript', src='/gentelella/vendors/moment/min/moment.min.js')
script(type='text/javascript', src='/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.js')
script(type='text/javascript', src='/gentelella/build/js/custom.min.js')